<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:17.9px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:17.9px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:10.1px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:10.1px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:8.4px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:8.4px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:6.5px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:6.5px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:8.4px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:8.4px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:7.0px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:7.0px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:9.6px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:9.6px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:7.5px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:7.5px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:8.4px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_010{font-family:Arial,serif;font-size:8.4px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="245519f6-4b30-11ea-a5fd-0cc47a792c0a_id_245519f6-4b30-11ea-a5fd-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="image_overlays/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:220.47px;top:61.47px" class="cls_002"><span class="cls_002">{{name}}</span></div>
<div style="position:absolute;left:205.04px;top:91.54px" class="cls_003"><span class="cls_003">Head Chef</span></div>
<div style="position:absolute;left:45.00px;top:167.75px" class="cls_004"><span class="cls_004">INFO</span></div>
<div style="position:absolute;left:204.00px;top:167.75px" class="cls_004"><span class="cls_004">PROFILE</span></div>
<div style="position:absolute;left:45.00px;top:193.60px" class="cls_005"><span class="cls_005">ADDRESS</span></div>
<div style="position:absolute;left:204.00px;top:193.47px" class="cls_007"><span class="cls_007">Head chef with a passion for asian cuisine</span></div>
<div style="position:absolute;left:45.00px;top:204.41px" class="cls_006"><span class="cls_006">High Street, New York, USA</span></div>
<div style="position:absolute;left:45.00px;top:224.60px" class="cls_005"><span class="cls_005">PHONE</span></div>
<div style="position:absolute;left:45.00px;top:235.41px" class="cls_006"><span class="cls_006">+1 345 6789</span></div>
<div style="position:absolute;left:204.00px;top:238.75px" class="cls_004"><span class="cls_004">EMPLOYMENT HISTORY</span></div>
<div style="position:absolute;left:45.00px;top:255.60px" class="cls_005"><span class="cls_005">EMAIL</span></div>
<div style="position:absolute;left:45.00px;top:266.41px" class="cls_006"><span class="cls_006">bestchef@example.com</span></div>
<div style="position:absolute;left:204.00px;top:264.83px" class="cls_008"><span class="cls_008">Head Chef, Best Restaurant LTD</span></div>
<div style="position:absolute;left:532.20px;top:266.43px" class="cls_009"><span class="cls_009">New York</span></div>
<div style="position:absolute;left:204.00px;top:278.47px" class="cls_007"><span class="cls_007">Jan 2019 — Aug 2019</span></div>
<div style="position:absolute;left:45.00px;top:297.75px" class="cls_004"><span class="cls_004">LINKS</span></div>
<div style="position:absolute;left:216.00px;top:296.47px" class="cls_007"><span class="cls_007">•  Worked as part of the menu design team</span></div>
<div style="position:absolute;left:226.00px;top:309.07px" class="cls_007"><span class="cls_007"> to develop menus for high class events</span></div>

<div style="position:absolute;left:45.00px;top:373.75px" class="cls_004"><span class="cls_004">SKILLS</span></div>
<div style="position:absolute;left:226.00px;top:372.07px" class="cls_007"><span class="cls_007">Menu Design</span></div>
<div style="position:absolute;left:45.00px;top:399.47px" class="cls_007"><span class="cls_007">Asian Cuisine</span></div>
<div style="position:absolute;left:226.00px;top:397.07px" class="cls_007"><span class="cls_007">Time Management</span></div>
<div style="position:absolute;left:216.00px;top:463.47px" class="cls_007"><span class="cls_007">•  Worked in a collaborative manner with other employees to ensure great food was delivered</span></div>
<div style="position:absolute;left:204.00px;top:547.75px" class="cls_004"><span class="cls_004">EDUCATION</span></div>
<div style="position:absolute;left:204.00px;top:573.83px" class="cls_008"><span class="cls_008">Culinary Studies, Best Example College, New York</span></div>
<div style="position:absolute;left:45.00px;top:622.75px" class="cls_004"><span class="cls_004">HOBBIES</span></div>
<div style="position:absolute;left:45.00px;top:661.07px" class="cls_007"><span class="cls_007">Attending industry tradeshows</span></div>
<div style="position:absolute;left:0px;top:0px">
<div style="position:absolute;left:204.00px;top:422.75px" class="cls_004"><span class="cls_004">REFERENCES</span></div>
<div style="position:absolute;left:204.00px;top:448.83px" class="cls_008"><span class="cls_008">References available upon request</span></div>
</div>

</body>
</html>
